[submodule "installer"]
	path = installer
	url = git@github.com:QuasarApp/DesktopInstaller.git
[submodule "QtNetworkProtocol"]
	path = QtNetworkProtocol
	url = https://github.com/QuasarApp/QtNetworkProtocol.git
[submodule "SimpleQmlNotify"]
	path = SimpleQmlNotify
	url = git@github.com:QuasarApp/SimpleQmlNotify.git
