# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
/Build*
*.stash
/Release*
/parts/*
/prime/*
/snap/.snapcraft/*
/stage/*
/Build-*
/Release-*
*.stash
/source/android/*
!/source/android/AndroidManifest.xml
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

hanoi_towers/build/
installer/installer

*.snap
installer/packages/HanoiTowers/parts
installer/packages/HanoiTowers/prime
installer/packages/HanoiTowers/stage
installer/packages/HanoiTowers/data/*
.snapcraft

# QtCreator
installer/HanoiTowersInstaller
*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*


snap/plugins/__pycache__/
*.snap
data/
\.buildconfig
