[submodule "QtNetworkProtocol"]
	path = QtNetworkProtocol
	url = https://github.com/QuasarApp/QtNetworkProtocol.git
[submodule "SimpleQmlNotify"]
	path = SimpleQmlNotify
	url = https://github.com/QuasarApp/SimpleQmlNotify.git
[submodule "qt-solutions"]
	path = qt-solutions
	url = https://github.com/QuasarApp/qt-solutions.git
